
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
#top {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#topmenu {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}
 
#topmenu { align-content:flex-end; 
}
#topmenu p {
    cursor: pointer;
    text-decoration: none;
  }
#logo img {
  max-width: 100px;
  }
/*
#work {
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 50% 25% 25% ;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "project1"
  "project2 project3"
  "project4 project5";
}

#project1 {
  grid-area: project1;
  background-image: url("assets/images/02-portfolio-1.jpg");
}

#project2 {
  grid-area: project2;
  background-image: url("assets/images/02-portfolio-2.jpg");
}
#project3 {
  grid-area: project3;
  background-image: url("assets/images/02-portfolio-3.jpg");
}
#project4 {
  grid-area: project4;
  background-image: url("assets/images/02-portfolio-4.jpg");
}
#project5 {
  grid-area: project3;
  background-image: url("assets/images/02-run-buddy.jpg");
}
*/

.pagesection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}
#bannerpicture {
  width:auto;
  height:350px;
  margin-left:auto;
  margin-right:auto;
  background-position:center;
  background-repeat:no-repeat;
overflow:hidden;
  border: 1px solid  black;
 }
#bannerpicture img{
max-width: 100%;
display: block;
  border: 1px solid black
}
.top {
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 22px;
}
.pagesectioncontact {
  display: flex;
  flex-direction: row;
}
.pagesectioncontact {
  cursor: pointer;
  text-decoration: none;
}
.pagesection {display: flex;
  flex-direction: column;
  margin: 50px 15%;
  align-items:flex-start;
}
h2 {display: flex;
  justify-content:flex-end;
  font-size: 30px;
  }
h1 {display: flex;
    justify-content:flex-start;
    font-size: 40px;
    }
